*.out
*.o
*.err
*.out#
.vscode
hw1/job-blas
hw1/job-blocked
hw1/job-naive
*.blas
*.base
*.sh
hw1/benchmark-blas
hw1/benchmark-blocked
hw1/benchmark-naive
*.pdf
*.docx
*.py
*.DS_Store
hw2/auto-*
hw2/job-*
*.txt
hw2/pthreads
hw2/openmp
hw2/serial
hw2/mpi
hw2/autograder
hw2/*.stdout